{% load static %}
<nav class="navbar navbar-expand-lg navbar-light mb-5" style="background-color: #6FBFBF;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">
      <img class="rounded border" src="{% static 'img/logo.jpg' %}" alt="logo" width="55" height="50">
    </a>
    <ul class="navbar-nav mt-1 ">
      <li class="nav-item pr-3 pl-3"">
        <a class="nav-link" href="#">
          Home
        </a>
      </li>
      <li class="nav-item pr-3 pl-3">
        <a class="nav-link" href="{% url 'core:index' %}">
          Tabela
        </a>
      </li>
      <li class="nav-item pr-3 pl-3">
        <a class="nav-link" href="#">
          Sobre
        </a>
      </li>
      <li class="nav-item pr-3 pl-3">
      </li>
    </ul>
  </div>
</nav>