{% load static %}

<script src="{% static 'jquery/jquery-3.4.1.slim.min.js' %}"></script>
<script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'jquery/jquery.mask.min.js' %}"></script>

<script>
$("#query_date").mask("00/00/0000");
</script>


<!-- Here I was tring to do a query with Ajax -->
<!-- <script>   
$("#doctor").change(function () {
let doctor_name = $(this).val();
let url = "doctor_name/" + doctor_name + "/";

jQuery.ajax({
    url: url,
    type: 'GET',
    data: {
        doctor_name : doctor_name, 
    },

    beforeSend: function (xhr) {
    $('#custom-tbody').empty()
    $('#custom-tfoot').remove()
    },

    success: function (data) { 
    var data = JSON.parse(data)
    console.log(data)
    $('#custom-tbody').append(
                "<tr><td id='doctor_name'>" + data + "</td><td id='guide_number'>" + data + 
                "</td><td id='query_date'>" + data + "</td><td id='query_value'>" + data + 
                "</td><td id='total_value'>" + data+ "</td><td id='exam_times'>" + data+ "</td></tr>")
    }, 

    error: function (xhr) {
    },

    complete: function () {
    }

})
});
</script> -->


