{% load static %}

<script src="{% static 'jquery/jquery-3.4.1.slim.min.js' %}"></script>
<script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'jquery/jquery.mask.min.js' %}"></script>

<script>
$("#query_date").mask("00/00/0000");
</script>

<script>    
$("#doctor").change(function () {
let doctor_name = $(this).val();
let url = "doctor_name/" + doctor_name + "/";
jQuery.ajax({
    url: url,
    type: 'GET',
    data: {
        doctor_name : doctor_name, 
    },

    beforeSend: function (xhr) {
    // body...
    },

    success: function (data) {
    console.info(data)
    },

    error: function (xhr) {
    },

    complete: function () {
    }

})
});
</script>



